<app-header [title]="'Dashboard'" [at]="0" />
<div class="content">
    <ng-container *ngIf="data()">
        <app-selecter [monthList]="months()" [changeItemHandler]="handleChangeItem" [label]="selectedMonth()" />
        <div class="key-metric">
            <ng-container *ngIf="summaryDecorate().size > 0">
                <ng-container *ngIf="summaryDecorate().get('total-spend') as totalSpend">
                    <app-summary [summaryElement]="totalSpend" />
                </ng-container>
                <ng-container *ngIf="summaryDecorate().get('average') as average">
                    <app-summary [summaryElement]="average" />
                </ng-container>
                <ng-container *ngIf="summaryDecorate().get('highest') as highest">
                    <app-summary [summaryElement]="highest" />
                </ng-container>
            </ng-container>
        </div>
        <div class="item-box">
            <h1>Daily Spending</h1>
            <app-bar-line-chart [inputDashboardData]="data()?.daily_spending ?? []" />
        </div>
        <div class="item-box">
            <h1>Categorize Spending</h1>
            <app-pie-chart [categoryInputData]="data()?.category_brakedown ?? []" />
        </div>
        <div class="item-box">
            <h1>Top 5 Expenses</h1>
            <app-top-spend [tableData]="data()!.top_spend_records"/>
        </div>
    </ng-container>
</div>