.content {
    padding: 10px;
}

.key-metric {
    margin: 30px 20px 22px 20px;
}

.item-box {
    background-color: #F8FAFC;
    filter: drop-shadow(0px 0px 1px #BCCCDC);
    margin: 15px 15px 10px 15px;
    padding: 8px 25px;
}