table {
    width: 100%;
    border-collapse: collapse;
    cursor: default;

    tr {
        border-bottom: 1px solid #cbd5e1;
        transition: all 400ms ease-in-out 200ms;
    
        &:hover {
            background-color: #dbeafe;
        }

        th {
            padding: 10px 8px;
            text-align: left;
        }

        td {
            padding: 8px 0px;
            text-overflow: clip;
        }
    }
}