<ng-container *ngIf="summaryElement()">
    <div class="summary">
        <div appColorSvg [filePath]="summaryElement().iconPath" [color]="summaryElement().iconColor" class="icon"
            [style]="'background-color: ' + summaryElement().iconBackground + ';'"></div>
        <div style="width: 20px;"></div>
        <div class="result">
            <p>{{summaryElement().label}}</p>
            <p class="value">฿ {{summaryElement().value.toFixed(2)}}</p>
        </div>
    </div>
</ng-container>